.welcome-section {
    background-image: url(simbahan.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 5em 0;
    margin: 0 2em;
    text-align: center;
}

.welcome-section h1 {
    color:  #fff;
}

.dashboard-content {
    padding: 2em;
}

.dashboard-content h1 {
    margin-bottom: 1em;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

body {
    background-color: #fff;
}

.event-card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 1.5em;
    width: 250px;
    text-align: left;
    margin: 0.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-card h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.event-card .subtitle {
    color: #666;
    font-size: 0.9em;
    margin: 0.5em 0 1em 0;
}

.event-details {
    margin-top: 1em;
}

.event-details p {
    margin: 0.5em 0;
    font-size: 0.9em;
}

.event-details strong {
    color: #333;
}
