.greetings {
    background-image: url(simbahan2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 10em 0;
    margin: 0 2em;
    text-align: center;
    border-radius: 50px;
    box-shadow: 2px 2px 2px #23406e inset;
}

.greetings h1 {
    color: white;
}

.announcementHeader {
    color: #23406e;
    margin:auto 3vh;
    border-bottom: #e45c43 1px solid;
}

.announcementContent {
    display: flex;
    justify-content: space-evenly;
    border-bottom: #e45c43 3px solid;
    padding: 1em 0;
}

.news {
    margin-top: 15px;
    height: 30vh;
    width: 40vh;
    background-color: #f9f9f9;
    color: black;
    border-radius: 20px;
    text-align: center;
    box-shadow: 1px 1px 1px #e45c43 inset;
}