.greetings {
    background-image: url(simbahan.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 10em 0;
    margin: 0 2em;
    text-align: center;
}

.greetings h1 {
    color: white;
}

.announcementHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid blue;
}

.announcementHeader a {
    text-decoration: none;
    color: black;
}

.announcementContent {
    display: flex;
    justify-content: space-evenly;
}

.news1, .news2, .news3 {
    margin-top: 15px;
    height: 30vh;
    width: 40vh;
    background-color: #f9f9f9;
    color: black;
    border: 1px solid black;
    text-align: center;
}