aside {
    position: fixed;
    inset: 0 auto 0 0;
    width: 225px;
    padding: 1rem 2rem 1rem 1rem;
    background-color: #f8f3e3;
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 3px #e45c43;
    transition: width 0.3s;
    overflow: hidden;
}

#layoutWrapper {
    display: flex;
}

/* Collapse the sidebar when not hovered */
aside:not(:hover) {
    width: 80px;
}

/* Adjust content margin when sidebar is collapsed */
#mainContent {
    margin-left: 225px;
    transition: margin-left 0.3s;
}

aside:not(:hover) ~ #mainContent {
    margin-left: 80px;
}

/* Hide the link text when sidebar is collapsed */
.headerLinks span {
    opacity: 1;
    white-space: nowrap;
    transition: opacity 0.3s;
}

aside:not(:hover) .headerLinks span {
    opacity: 0;
}