main {
    background-color: rgba(50, 25, 255, 0.8);
    box-shadow: 1px 1px 1px #000 inset;
}

.userManagementHeader {
    display: flex;
    justify-content: space-between;
}

.accountButtons {
    display: flex;
    width: 40vh;
    margin: auto;
    justify-content: center;
}

.userManagementContent {
    background-color: white;
    box-shadow: 1px 1px 1px #000 inset;
}